*{
    box-sizing: border-box;

}

textarea{
    width: 800px;
    height: 100px;
}
.results {
    width: 500px;
    height: 300px;
    border: 1px solid #ee5dcb;
    white-space: pre-wrap;
    text-align: left;
    overflow: scroll;
    font-family: monospace;
    white-space: pre;
    padding: 1em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.results-wrapper{
    display: flex;
    flex-direction: column;
}
.row-two, .row-one, .row-three, .row-four{
    display: flex;
}
.row-one{
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
}
.row-three{
    justify-content: center;
    align-items: center;
    width:100%;

}
.row-four{
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 1.5em;
    font-weight: bold;
    width: 20px;
    height: 20px;;
}
.typography, .data-structure{
    display: flex;
    flex-direction: row;
    gap:1em;
    margin:1em;
}
.sort-by, .direction{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    margin-left: 15px;
    justify-content: flex-start;
    margin-bottom:10px;
}
.label {
    width:80px;
    text-align: left;
}