textarea{
    width: 500px;
    height: 300px;
}
.results {
    width: 500px;
    height: 300px;
    border: 1px solid pink;
    white-space: pre-wrap;
    text-align: left;
    overflow: scroll;
    font-family: monospace;
    white-space: pre;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.results-wrapper{
    display: flex;
    align-items: center
}
.icon {
    font-size: 1.5em;
    font-weight: bold;
    width: 20px;
    height: 20px;;
}
.typography, .data-structure{
    display: flex;
    flex-direction: row;
    gap:1em;
    margin:1em;
}